.container-login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-top: 128px; */
    padding: 20px;
    /* margin: 0; */
    background-image: url("../../images/Backgroundcolour.jpg");
    /* background-size: auto; */
    background-size: 100% 100%;
    /* overflow: hidden; */
    /* height: 100%; */
}

.form-login-input {
    display: flex;
    flex-direction: column;
}

.form-login {
    border: 1px solid #F68E9A;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    background-color: var(--form);
    /* height: 10%;
    margin-top: 115px;
    margin-right: 90px; */
}

.welcome-login {
    max-width: 208px;
    padding-left: 8px;
    font-family: var(--fontFamily);
}

.input-login {
    border-radius: 8px;
    border: 1px solid var(--primary);
    background-color: #ffffffa8;
    padding: 8px;
    font-family: var(--fontFamily);
    margin-top: 20px;

}

.input-login:focus {
    outline: none;
}



.button-login {
    background-color: var(--primary);
    border-radius: 8px;
    border: 1px solid var(--primary);
    padding: 8px 87px 8px 87px;
    cursor: pointer;
    font-family: var(--fontFamily);
    margin-top: 20px;

}

.button-login:hover {
    background-color: red;
}

.register-login {
    border: none;
    background: transparent;
    cursor: pointer;
    margin-top: 17px;
    position: relative;
    max-width: 600px;
    font-family: cursive;

}

.register-login:before {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: rgb(129, 116, 116);
    position: absolute;
    right: 70px;
    top: 11px;
}

.register-login:after {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: rgb(129, 116, 116);
    position: absolute;
    left: 70px;
    top: 11px;
}

/* .sa7en {
    height: 500px;
    width: 500px;
} */

.inputContainer {
    position: relative;
}

.inputContainer span {
    position: absolute;
    bottom: 0;
}