.container-login {
    background-image: url('../../assets/images/Backgroundcolour.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    overflow: hidden;
}

@media only screen and (max-width: 400px) {
    .container-login {
        display: flex;
        flex-direction: column;
        text-align: center;
        text-align: -webkit-center;
        overflow: scroll;
    }
}

.login-sahen {
    max-width: var(--sahen-maxwidth);
    min-width: var(--sahen-minwidth);
}

.form-container {
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid var(--dark-red);
    color: var(--black);
}

.form-login-input input {
    border-radius: 8px;
    border: 2px solid var(--primary);
}

.form-login-input input:focus {
    outline: none;
}

.form-login-input button {
    border-radius: 8px;
    border: 2px solid var(--primary);
    background-color: var(--primary);
}

.have-fun {
    bottom: -70px;
    width: 300px;
}
.login-return {
    background: transparent;
    cursor: pointer;
    position: relative;
    max-width: 600px;
    font-family: var(--fontFamily);
    margin-bottom: 15px;
    text-align: center;

}

.login-return:before {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: rgb(129, 116, 116);
    position: absolute;
    right: 40px;
    top: 11px;
}

.login-return:after {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: rgb(129, 116, 116);
    position: absolute;
    left: 40px;
    top: 11px;
}