.container-navbar {
  justify-content: space-between;
  align-items: center;
  margin: 0px 84px 10px 80px;
  padding-top: 20px;
}
.navbar-btn {
  font-weight: bolder;
  border-radius: 13px;
  background-color: var(--primary);
  outline: none;
  cursor: pointer;
  color: var(--white);
  border: 1px solid var(--primary-op);
  padding: 1px 11px;
}

.navbar-list-title {
  padding-right: 25px;
  margin: 0;
}

.list-nav {
  align-items: center;
  height: 50px;
}

@media only screen and (max-width: 480px) {
  .container-navbar {
    align-items: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}
