.footer{
    background-color: var(--primary);
}
.footer-inner{
    justify-content: space-around;
    margin-top: 24px;

}
.social-media-title{
    
    margin: 0.5rem;
}
.icon{
    margin: 0.5rem;

}

@media only screen and (max-width: 480px) {
    .footer-inner{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
  }