.container-aboutus {

  /* background: linear-gradient(
      0deg,
      rgba(246, 142, 154, 0.5),
      rgba(246, 142, 154, 0.5)
    ),
    url(../../assets//images/backg.png); */
      /* background-color: rgba(107, 105, 105, 0.4); */
      /* transform: translateX(20px); */

}


.aboutus-text {
  margin: auto;
  max-width: 77%;
  font-size: x-large;
}
.contactus {
  border: 1px solid var(--primary);
  background-color: rgb(246 142 154 / 25%);
  border-radius: 15px;
  position: relative;
  margin: auto;
}

.inner-container {
  margin: 10px 20px 10px 150px;
}
.contactus-send {
  font-weight: bolder;
  border-radius: 13px;
  background-color: var(--primary);
  outline: none;
  cursor: pointer;
  color: var(--white);
  border: 1px solid var(--primary-op);
  padding: 1px 11px;
}
.contactus-title {
  font-weight: bolder;
  margin-bottom: 10px;
  font-size: x-large;
}

.right-container {
  border: 1.5px solid lightcoral;
  border-radius: 6px;
}

.right-container textarea {
  border: 0;
  resize: none;
  outline: none;
  height: 160px;
}
.left-input {
  border-radius: 6px;
  padding-left: 14px;
  border: 1.5px solid lightcoral;
  outline: none;
  font-size: larger;
}

.wrapper {
  width: fit-content;
}

.socail-media {
  border: 1px solid lightcoral;
  max-width: 200px;
  background-color: var(--primary);
  border-radius: 15px;
  position: absolute;
  top: 50px;
  left: -70px;
  z-index: 1;
}
.socail-media-icone {
  display: flex;
  padding: 9px 10px 9px 30px;
}
.icon {
  margin-right: 16px;
  cursor: pointer;
}
.social-media-title {
  color: var(--white);
  font-weight: bolder;
}
textarea{
  font-size: larger;

}
