/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */

@font-face {
  font-family: inkfree;
  src: url("./assets/fonts/Inkfree.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inkfree;
}
body{
  overflow-x: hidden;
}
:root {
  --primary: #f68e9a;
  --primary-op: rgba(246, 142, 154, 0.7);
  --secondry: #f6e3e5;
  --dark-red: #eb5975;
  --error: #ff0000;
  --white: #fff;
  --white-point6: rgba(255, 255, 255, 0.6);
  --form: #f6e3e58f;
  --box-maxWidth: 900px;
  --sahen-maxwidth: 600px;
  --sahen-minwidth: 500px;
}

@media only screen and (min-width: 1024px) {
  .slider-wrapper {
    width: 800px;
  }
}

@media only screen and (max-width: 920px) {
  .slider-wrapper {
    width: 650px;
  }
}

@media only screen and (max-width: 480px) {
  :root {
    --box-maxWidth: 300px;
    --sahen-maxwidth: 300px;
    --sahen-minwidth: 300px;
  }
  .slider-wrapper {
    width: 450px;
  }
}

@media only screen and (max-width: 1080px) {
}

.example {
  max-width: var(--box-maxWidth);
}

.text {
  font-family: var(--fontFamily);
}

/* .bg * {
  z-index: 10;
} */

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
a:hover {
  color: #44404d;
}

.home-image {
  width: 100%;
  margin: 20px 0px 50px;
}

.blur {
  background-image: url("./assets/images/blur.png"),url("./assets/images/bac.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  min-height: 100vh;
}
