body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* .owl-nav {
  display: block;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  top: calc(28%);
  font-size: 50px;
} */

/* button.owl-prev {
float: left;
}
button.owl-next {
float: right;
} */

/* .owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
  display: block !important; 
} */