.container-register {
    background-image: url('../../assets/images/Backgroundcolour.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    overflow: hidden;
}
@media only screen and (max-width: 400px) {
    .container-register {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        text-align: -webkit-center;
        overflow: scroll;
    }
}
.register-sahen {
    max-width: var(--sahen-maxwidth);
    min-width: var(--sahen-minwidth);
}


.form-register {
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 20px;
    border: 2px solid var(--dark-red);
    color: var(--black);
}
.form-register-input input {
    border-radius: 8px;
    border: 2px solid var(--primary);
}
.form-register-input input:focus {
    outline: none;
}

.form-register-input button {
    border-radius: 8px;
    border: 2px solid var(--primary);
    background-color: var(--primary);
}



.welcome-register {
    max-width: 208px;
    padding-left: 8px;
    font-family: var(--fontFamily);
}





.register-return {
    background: transparent;
    cursor: pointer;
    position: relative;
    max-width: 600px;
    font-family: var(--fontFamily);
    margin-bottom: 15px;
    text-align: center;

}

.register-return:before {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: rgb(129, 116, 116);
    position: absolute;
    right: 40px;
    top: 11px;
}

.register-return:after {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: rgb(129, 116, 116);
    position: absolute;
    left: 40px;
    top: 11px;
}